* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
}

.control {
    width: 20%;
    height: 100%;
    border-right: solid 0.5px #000;
}
svg {
    width: 80%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:contain;
}
.none {
    opacity: 0.25;
}




/*-----------------------------*/
.flex {
    display: flex;
}
button {
    width: 5rem;
    height: 2rem;
    margin: 0.5rem 0.05rem 0 0.05rem;
}
.selected {
    background-color: rgb(190, 190, 190);
}